body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    color: #152C5B;
}

li {
    margin-right: 15px;
}

.header {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #E5E5E5;
}

.header h1 {
    color: #152C5B;
}

.stay {
    color: #3252DF;
}

.firstlist {
    color: #3252DF;
}

main .show__me {
    display: flex;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
}

.forget__your {
    position: relative;
    margin-right: 150px;
}

.forget__your h2 {
    font-size: 42px;
    color: #152C5B;
}

.forget__your p {
    color: #B0B0B0;
}

.button {
    background-color: #3252DF;
    color: white;
    border: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 30px;
    border-radius: 5px;
}

.travel {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
}

.travel div {
    margin-right: 30px;
}

.travel span {
    color: #152C5B;
    font-weight: bold;
}

.most__picked {
    margin-top: 50px;
}

.most__picked__container {
    display: flex;
}

.pic__1 {
    position: relative;
    margin-right: 20px;
    background: linear-gradient(180deg, rgba(44, 155, 217, 0) 49.33%, rgba(196, 196, 196, 0.5) 100%);
}

.price {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF498B;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 15px 0 15px;
    color: white;
}

.detail {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.container__pic__2 {
    display: flex;
    flex-direction: column;
}

.pic__2 {
    position: relative;
    margin-top: 20px;
    margin-right: 20px;
}

.top {
    margin-top: 0;
}

.popular {
    margin-top: 50px;
}

.popular__img {
    display: flex;
}


.popular__detail {
    position: relative;
    margin-right: 20px;
}

.happy__family {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.star {
    display: flex;
}

.happy__family__img {
    margin-right: 100px;
}

.container__footer {
    display: flex;
    margin-top: 50px;
    padding-left: 150px;
    padding-right: 150px;

}

.detail__footer {
    margin-right: 100px;
}

.copyright {
    margin-top: 20px ;
}
.copyright p {
    text-align: center;
}